.collapse {
  margin: 10px 0;
}

.about-collapse {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.collapse-header {
  background-color: #ff6b6b;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.collapse-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.collapse-header .chevron {
  font-size: 1.5rem;
  color: white; 
}

.collapse-header img {
  transition: transform 0.3s ease;
}

.collapse-header img.rotate {
  transform: rotate(-180deg);
}

.collapse-content {
  padding: 15px;
  border-top: 1px solid #ddd;
  background-color: #F6F6F6;
}

.about-collapse p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}


/* Version tablette */
@media (max-width: 1024px) and (min-width: 601px) {
  .about-collapse {
    width: 100%;
  }
  
}


/* Version mobile */
@media (max-width: 600px) {
  .about-collapse {
    width: 100%;
  }

  .collapse-header h2 {
    font-size: 13px;
  }
  .about-collapse p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }
}